@font-face{
    font-family: "Inria Serif";
    src: url(../../../public/InriaSerif-Regular.ttf)
}

html, body, .home{
    background-color: #F6FAEB;
    height:100%;
    width:100%;
}

.slogan{
    font-size: 3.4vw;
    position: absolute;
    left:51.5%;
    top:210px;
    transform: translate(-50%, -50%);
    font-family: "Inria Serif";
    
}

.position-banner {
    position: absolute;
    top: 380px;
    left: 50%;
    width: 20vw;
    min-width: 5vw;
    transform: translate(-50%, -50%);
}

.startButton{
    white-space: nowrap;
    width: 15%;
    height: width;
    border-radius: 0px;
    position: absolute;
    left: 50%;
    top: 595px;
    transform: translateX(-50%);
    font-size: 1.6vw;
    font-family: "Inria Serif";
}