html, body, .home{
    background-color: #F6FAEB;
    height:100%;
    width:100%;
}

.slogan{
    font-size: 40px;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    
}
