html, body, .home{
    background-color: #F6FAEB;
    height:100%;
    width:100%;
}

.slogan{
    font-size: 265%;
    position: absolute;
    left:51.5%;
    top:22%;
    transform: translate(-50%, -50%);
    
}

.homeImage{
    width:20%;
    position: absolute;
    left:50%;
    top:47%;
    transform: translate(-50%, -50%);
}

.startButton{
    width: 15%;
    height:10%;
    border-radius: 0px;
    position: absolute;
    left:50%;
    top:85%;
    transform: translate(-50%,-50%);
    font-size: 20px;
}