.navbar{
    display:flex;
    background-color: #F6FAEB;
    justify-content: flex-end;

}

.navtabs{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 2%;
}


.navtabs Button{
    text-decoration: none;
}

.navtabs p{
    margin-right: 0%; 
    margin-bottom: 1%;
    margin-top: 1%;
    color:black;
    text-decoration: none;
    font-size: larger;
    font-family: "Inter", sans-serif;
}

.logo{
    position: absolute;
    font-size: larger;
    left:4.75%;
    font-weight: bolder;
}