@font-face{
  font-family: "Inria Serif";
  src: url(../../../public/InriaSerif-Regular.ttf)
}

.titleResources {
    position: absolute;
    left:50%;
    top:20%;
    transform: translate(-50%,-50%);

  }

  .titleTextRe {
    display: block;
    font-size: 250%;
    font-family: "Inria Serif";
  }  

  .resourcesList{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
  }