.centered {
    text-align: center;
}
.img-size {
    width: 15%;
}

.font-size {
    font-size: 2vw; /* Adjust font size as needed */
    font-family: "Inter", sans-serif;
  }

.position-daily {
    position: absolute;
    top: 28vh; /* Position 40% from the top of the screen */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center vertically */
  }

.position-lifetime {
    position: absolute; 
    top: 33vh;
    left: 50%;
    transform: translateX(-50%);
}

.position-duck {
    position: relative; /* Set position to relative */
    top: 34vh; /* Set top offset to 100 pixels */
}

.position-image {
    position: relative; /* Set position to relative */
    top: 35vh; /* Set top offset to 100 pixels */
}

.position-rightbutton{
    position: relative;
    top: 45vh;
    right: 78%;
}

.position-leftbutton{
    position: relative;
    top: 45vh;
    left: 78%;
}
  
.button-container {
    display: flex;
    justify-content: space-between;
}

.button-container button {
    width: 25%;
    height: 10%;
    margin: 10px;
    background-color: black;
    color: white; /* Set text color to white */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.position-rightbutton {
    position: relative;
    top: 35vh;
    right: 10%;
}

.position-leftbutton {
    position: relative;
    top: 35vh;
    left: 10%;
}

.font-size-button {
    font-size: 1.6vw;
    font-family: "Inter", sans-serif;
  }

.submitPopup-content{
    width: 75%;
    height:75%;
}
