@font-face{
    font-family: "Inria Serif";
    src: url(../../../public/InriaSerif-Regular.ttf)
}

.img-size-baby {
    width: 20%;
}

.centered{
    text-align: center;
}

.position-duck-baby {
    position: relative; /* Set position to relative */
    top:9vh
}

.img-size-middle {
    width: 20%;
}

.position-duck-middle {
    position: relative; /* Set position to relative */
    top: 16vh;
}


.img-size-adult {
    width: 18%;
}

.position-duck-adult {
    position: relative; /* Set position to relative */
    top: 27vh;
}

.font-size {
    font-size: 2vw; /* Adjust font size as needed */
    font-family: "Inria Serif";
}

.position-points {
    position: absolute;
    top: 90px;
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.health-bar {
    width: 100%;
    background-color: #ddd;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 115px;
}
  
.health-bar-fill {
    height: 100%;
    background-color: #6ac46d;
}

.position-daily {
    position: absolute;
    top: 26%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
  }

.position-lifetime {
    position: absolute; 
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}
  
.button-container {
    display: flex;
    justify-content: space-between;
}

.button-container button {
    width: 25%;
    height: 10%;
    margin: 10px;
    background-color: black;
    color: white; /* Set text color to white */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.position-rightbutton {
    position: absolute;
    top: 80%;
    left: 10%;
}

.position-leftbutton {
    position: absolute;
    top: 80%;
    right: 10%;
    border-radius: 20px;
}

.font-size-button {
    font-size: 1.6vw;
    font-family: "Inria Serif";
  }

.submitPopup-content{
    width: 75%;
    height:75%;
}
