@font-face{
    font-family: "Inria Serif";
    src: url(../../../public/InriaSerif-Regular.ttf)
}

.centered {
    /* text-align: center; */
}

.img-size {
    width: 15%;
}

.font-size {
    font-size: 2vw; /* Adjust font size as needed */
    font-family: "Inria Serif";
}

.position-points {
    position: absolute;
    top: 90px;
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.health-bar {
    width: 100%;
    background-color: #ddd;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 115px;
}
  
.health-bar-fill {
    height: 100%;
    background-color: #6ac46d;
}

.position-daily {
    position: absolute;
    top: 190px; 
    left: 50%; 
    transform: translate(-50%, -50%); 
  }

.position-lifetime {
    position: absolute; 
    top: 230px;
    left: 50%;
    transform: translateX(-50%);
}

.position-duck {
    position: absolute; 
    top: 420px;
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.position-rightbutton {
    position: absolute;
    top: 580px;
    right: 10%;
}

.position-leftbutton {
    position: absolute;
    top: 580px;
    left: 10%;
}
  
.button-container {
    display: flex;
    justify-content: space-between;
}

.button-container button {
    width: 25%;
    height: 10%;
    margin: 10px;
    background-color: black;
    color: white; /* Set text color to white */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
}

.font-size-button {
    font-size: 1.6vw;
    font-family: "Inria Serif";
  }

.submitPopup-content{
    width: 75%;
    height:75%;
}