@font-face{
  font-family: "Inria Serif";
  src: url(../../../public/InriaSerif-Regular.ttf)
}

.titleGrat {
    position: absolute;
    left:50%;
    top:155px;
    transform: translate(-50%,-50%);

}

  .titleText{
    display: block;
    font-size: 3vw;
  font-family: "Inria Serif";
}

.pastGratitudes{
  position: absolute;
  left:10%;
  top: 155px;
  width:90%;
  white-space: pre-wrap;
  word-break: break-all;
}

.gratElements{
  margin-top: 1.5%;
  margin-right: 10%;
  font-family: "Inria Serif";
  font-size: 1.4vw;
}

.gratColumn{
  font-size: 100%;
}

.gratList {
  list-style-type: none;
  padding: 0;
  width:100%
}

.gratColumn {
  display: block;
  margin-bottom: 10px;
}

.line{
  width:100%;
}